/**
 * Content style overrides for Firefox
 *
 * Uses dark background for new tabs, based on the Catppuccin color palette:
 * https://github.com/catppuccin
 *
 * Author: Daniel Nordstrom
 * Repository: https://github.com/dnordstrom/dotfiles
 **/

:root {
  --catppuccin-bg: #1E1E2E;
  --catppuccin-fg: #D9E0EE;
}

@-moz-document url-prefix(about:home), url-prefix(about:newtab) {
  body {
    background: var(--catppuccin-bg);
    color: var(--catppuccin-fg);
  }
}
