/* Use dark background for Tridactyl new tabs */
:root {
  --nord-bg: #2e3440;
  --nord-fg: #e5e9f0;
  --tridactyl-bg: var(--nord-bg) !important;
  --tridactyl-fg: var(--nord-fg) !important;
}

@-moz-document url-prefix(about:home), url-prefix(about:newtab) {
  body {
    background: var(--nord-bg);
  }
}
