/**
 * Catppuccin theme ported to Waybar.
 *
 * Author:      Daniel Nordstrom
 * Repository:  https://github.com/dnordstrom/dotfiles
 * Website:     https://mrnordstrom.com
 * Palette:     https://github.com/catppuccin
 *
 * Widget tree documentation:
 * https://github.com/Alexays/Waybar/wiki/Styling#viewing-the-widget-tree
 *
 * CSS subset documentation:
 * https://docs.gtk.org/gtk3/css-overview.html
 */

/**
 * COLOR PALETTE
 */

@define-color flamingo  #F2CDCD;
@define-color rosewater #F5E0DC;
@define-color mauve     #DDB6F2;
@define-color pink      #F5C2E7;
@define-color maroon    #E8A2AF;
@define-color red       #F28FAD;
@define-color peach     #F8BD96;
@define-color yellow    #FAE3B0;
@define-color green     #ABE9B3;
@define-color blue      #96CDFB;
@define-color teal      #B5E8E0;
@define-color sky       #89DCEB;
@define-color lavender  #C9CBFF;

@define-color black0    #161320;
@define-color black1    #1A1826;
@define-color black2    #1E1E2E;
@define-color black3    #302D41;
@define-color black4    #575268;

@define-color gray0     #6E6C7E;
@define-color gray1     #988BA2;
@define-color gray2     #C3BAC6;

@define-color white     #D9E0EE;

/**
 * CONTAINERS
 */

* {
  font-weight: bold;
  font-family: "PragmataPro Mono Liga", serif;
  font-size: 12px;
}

/* Outer */

#waybar {
  background: transparent;
  color: @black2;
}

/* Inner */

#waybar:first-child > box {
  background: transparent;
  margin: 10px 10px 0 10px;
}

/* Sections */ 

.modules-left,
.modules-center,
.modules-right {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 3px;
}

/**
 * DEFAULT MODULE STYLES
 */

box > box > widget > box, 
box > box > widget > label {
  background: @black2;
  color: @white;
  padding: 0px 14px 1px;
}

/**
 * LEFT SECTION
 */

#workspaces {
  background: @black2;
  margin: 0;
  padding: 0;
}

#workspaces button {
  margin: 0;
  padding: 0 10px;
  box-shadow: none;
  color: @gray2;
  border-top: 4px solid @black2;
  border-bottom: 3px solid @black2;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

#workspaces button:hover,
#workspaces button.urgent:hover {
  background: @black3;
  border-bottom: 3px solid @peach;
  border-top-color: @black3;
  color: @peach;
  transition: none;
}

#workspaces button:first-child {
  border-radius: 0;
}

#workspaces button.focused {
  background: @black3;
  border-bottom: 3px solid @blue;
  border-top-color: @black3;
  color: @blue;
}

#workspaces button.urgent {
  background: @red;
  border-bottom: 3px solid @red;
  color: @black2;
}

#window {
  background: @black3;
  color: @gray2;
}

#waybar:not(.empty) #window {
  padding: 0 10px;
}

#custom-files,
#custom-browser,
#custom-mail,
#custom-editor,
#custom-terminal {
  background: @peach;
  color: @black2;
}

#custom-files:hover,
#custom-browser:hover,
#custom-mail:hover,
#custom-editor:hover,
#custom-terminal:hover {
  color: @blue;
}

#mode {
  color: @black3;
  background: @maroon;
  font-style: italic;
}

/**
 * CENTER SECTION
 */

#clock,
#custom-clock {
  background: @mauve;
  color: @black2;
  padding: 0 16px;
}

/**
 * RIGHT SECTION
 */

.modules-right label {
  padding: 0 16px;
}

#tray {
  padding-left: 18px;
}

#idle_inhibitor {
  padding: 0 8px;
}

#custom-tmpmail,
#custom-snap {
  padding: 0 12px;
}

#cpu {
  padding: 0 13px;
}

#temperature {
  padding: 0 10px;
}

#memory {
  padding: 0 8px 0 3px;
}

#custom-diskinfo {
  padding: 0 8px;
}

#custom-keyboard {
  padding: 0 12px 0 8px;
}

#custom-wttr {
  background: @mauve;
  color: @black2;
}

#pulseaudio {
  background: @peach;
  color: @black2;
}

