/**
 * Tridactyl theme based on the Nord color palette.
 *
 * Author: Daniel Nordstrom <d@mrnordstrom.com>
 * Updated: Wed Nov 24 11:11:33 PM CET 2021
 * See also:
 *   
 */

:root {
  /* Color palette */
  --base00: #2e3440;
  --base01: #3b4252;
  --base02: #434c5e;
  --base03: #4c566a;
  --base04: #d8dee9;
  --base05: #e5e9f0;
  --base06: #eceff4;
  --base07: #8fbcbb;
  --base08: #88c0d0;
  --base09: #81a1c1;
  --base0A: #5e81ac;
  --base0B: #bf616a;
  --base0C: #d08770;
  --base0D: #ebcb8b;
  --base0E: #a3be8c;
  --base0F: #b48ead;

  /* Options */

  --nord-padding: 10px; /* Left padding for command line and autocomplete container */
  --nord-font-size: unset !important; /* Use browser default font size */
  --nord-font-family: monospace !important; /* Use browser default monospace font */

  --tridactyl-font-family: var(--nord-font-family);
  --tridactyl-font-size: var(--nord-font-size);

  --tridactyl-fg: var(--base06);
  --tridactyl-bg: var(--base00);
  --tridactyl-of-fg: var(--base06);
  --tridactyl-of-bg: var(--base00);

  --tridactyl-url-fg: var(--base08);
  --tridactyl-url-bg: var(--base00);

  --tridactyl-header-first-bg: var(--base00);
  --tridactyl-header-second-bg: var(--base00);
  --tridactyl-header-third-bg: var(--base00);
  --tridactyl-header-font-weight: bold;
  --tridactyl-header-font-size: var(--nord-font-size);

  --tridactyl-highlight-box-bg: var(--base0B);
  --tridactyl-highlight-box-fg: var(--base00);

  --tridactyl-cmplt-fg: var(--base04);
  --tridactyl-cmplt-font-family: var(--tridactyl-font-family);
  --tridactyl-cmplt-option-height: 1.6em;

  /* Hint character tags */
  --tridactyl-hintspan-fg: var(--base00) !important;
  --tridactyl-hintspan-bg: var(--base0A) !important;

  /* Element Highlights */
  --tridactyl-hint-active-fg: none;
  --tridactyl-hint-active-bg: none;
  --tridactyl-hint-active-outline: none;
  --tridactyl-hint-bg: none;
  --tridactyl-hint-outline: none;

}

#completions .sectionHeader {
  padding-left: var(--nord-padding);
  padding-top: 2px;
}

#completions table tr td {
  padding-left: var(--nord-padding) !important;
}

#completions table tr td.prefix {
  display: none;
}

#completions > div > table {
  font-size: var(--nord-font-size);
}

.focused, .focused .url {
  font-weight: bold;
}
