/**
 * FIREFOX CUSTOMIZATION
 **/

/**
 * VARIABLES
 */

:root {
  --tab-border-radius: 3px !important;
  --inline-tab-padding: 8px 1px 14px !important;
  --urlbar-icon-padding: 4px !important;
  --urlbar-min-height: 26px !important;
}

hbox#urlbar {
  --urlbar-height: 26px !important;
  --urlbar-toolbar-height: 38px !important;
}

toolbaritem#urlbar-container {
  --urlbar-container-height: 33px !important;
}



/**
 * SIDEBAR
 */

#sidebar {
  max-width: none !important;
  min-width: 0 !important;
  width: 350px !important;
}



/**
 * TAB BAR
 */

.tab-background {
  box-shadow: none !important;
}

.close-icon:hover {
  background: none !important;
  opacity: 0.75;
}

.tab-close-button {
  -moz-context-properties: fill, fill-opacity;
  margin-inline-end: calc(var(--inline-tab-padding) / -2);
  width: 24px;
  height: 24px;
  padding: 7px;
  border-radius: var(--tab-border-radius);
}

.close-icon {
  fill: var(--lwt-tab-line-color, var(--lwt-tabs-border-color, currentColor)) !important;
  opacity: 0.25;
}

/* Move container color bar to bottom of tab */

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  margin-top: calc(var(--tab-min-height) - 2px) !important;
}

/* Tweak font properties for tabs */

.tabbrowser-tab {
  font-size: 0.813em;
  font-weight: 400;
  line-height: 3;
}

/* Outline thickness for active tab and toolbar menus */

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon:-moz-lwtheme,
.tab-background[selected]:-moz-lwtheme {
  outline: 1px solid var(--lwt-tab-line-color, var(--lwt-tabs-border-color, currentColor)) !important;
  outline-offset: -1px !important;
}

/**
 * Disabled
 */

/* Use solid background for selected tab */

/*
  .tab-text[selected="true"] {
    color: var(--lwt-accent-color, #000000) !important;
  }

  .tab-background[selected="true"] {
    background: var(--lwt-tab-line-color, var(--lwt-tabs-border-color, currentColor)) !important;
  }
*/



/**
 * BOOKMARKS TOOLBAR
 */

/* Tweak spacing and use Nerd Font for icons */

#PlacesToolbarItems {
  -moz-box-pack: center;
  margin-block: -0.25em 0.15em;
  margin-inline: -0.7em 0.25em;
  font-family: "Iosevka Nerd Font";
}

/* Hide folder icons in bookmarks toolbar items */

toolbarbutton.bookmark-item:not(.subviewbutton) .toolbarbutton-icon {
  display: none;
}

/* Bigger and fatter unicode labels in boookmarks toolbar items */

toolbarbutton.bookmark-item:not(.subviewbutton)  {
  font-size: 1.5em;
  width: 2em;
}

/* Add left spacing to first unicode label in boookmarks toolbar items */

toolbarbutton.bookmark-item:not(.subviewbutton):first-of-type  {
  margin-left: -0.7em !important;
}

/* Correct width of unicode labels in boookmarks toolbar items */

toolbarbutton.bookmark-item:not(.subviewbutton):first-of-type .toolbarbutton-text {
  width: 2.6em;
}

/* Remove hover background from all toolbar items */

toolbarbutton:hover,
toolbarbutton[open] {
  background: none !important;
}

/* Remove hover color (use for background in nav bar) from toolbar items except bookmarks */

toolbarbutton:hover:not(.bookmark-item) {
  color: transparent !important;
}

/* Align URL bar with toolbar icons */

#nav-bar toolbarbutton {
  margin: 3px 0 0 !important;
  padding: 0 3px !important;
}



/**
 * NAV BAR
 */

#nav-bar {
  padding-block: 2px 6px !important;
  -moz-box-align: center !important;
}

/* Reduce size of URL bar icons */

.sharing-icon,
#identity-icon,
#permissions-granted-icon,
#tracking-protection-icon,
#blocked-permissions-container > .blocked-permission-icon {
  width: 12px !important;
  height: 12px !important;
}

/* 
┌─┐┬┌┬┐┌─┐┬  ┌─┐
└─┐││││├─┘│  ├┤ 
└─┘┴┴ ┴┴  ┴─┘└─┘
┌─┐┌─┐─┐ ┬      
├┤ │ │┌┴┬┘      
└  └─┘┴ └─

by Miguel Avila

*/

/*
 
┌─┐┌─┐┌┐┌┌─┐┬┌─┐┬ ┬┬─┐┌─┐┌┬┐┬┌─┐┌┐┌
│  │ ││││├┤ ││ ┬│ │├┬┘├─┤ │ ││ ││││
└─┘└─┘┘└┘└  ┴└─┘└─┘┴└─┴ ┴ ┴ ┴└─┘┘└┘

*/

:root {
  --sfwindow: #19171a;
  --sfsecondary: #201e21;
}

/* Urlbar View */

/*─────────────────────────────*/
/* Comment this section if you */
/* want to show the URL Bar    */
/*─────────────────────────────*/

.urlbarView {
  display: none !important;
}

/*─────────────────────────────*/

/* 
┌─┐┌─┐┬  ┌─┐┬─┐┌─┐
│  │ ││  │ │├┬┘└─┐
└─┘└─┘┴─┘└─┘┴└─└─┘ 
*/

/* Tabs colors  */
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[multiselected='true'],
#tabbrowser-tabs:not([movingtab])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-background[selected='true'] {
  background-image: none !important;
  background-color: var(--toolbar-bgcolor) !important;
}

/* Inactive tabs color */
#navigator-toolbox {
  background-color: var(--sfwindow) !important;
}

/* Window colors  */
:root {
  --toolbar-bgcolor: var(--sfsecondary) !important;
  --tabs-border-color: var(--sfsecondary) !important;
  --lwt-sidebar-background-color: var(--sfwindow) !important;
  --lwt-toolbar-field-focus: var(--sfsecondary) !important;
}

/* Sidebar color  */
#sidebar-box,
.sidebar-placesTree {
  background-color: var(--sfwindow) !important;
}

/* 

┌┬┐┌─┐┬  ┌─┐┌┬┐┌─┐            
 ││├┤ │  ├┤  │ ├┤             
─┴┘└─┘┴─┘└─┘ ┴ └─┘            
┌─┐┌─┐┌┬┐┌─┐┌─┐┌┐┌┌─┐┌┐┌┌┬┐┌─┐
│  │ ││││├─┘│ ││││├┤ │││ │ └─┐
└─┘└─┘┴ ┴┴  └─┘┘└┘└─┘┘└┘ ┴ └─┘

*/

/* Tabs elements  */
.tab-close-button {
  display: none;
}

.tabbrowser-tab:not([pinned]) .tab-icon-image {
  display: none !important;
}

#nav-bar:not([tabs-hidden='true']) {
  box-shadow: none;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

:root {
  --toolbarbutton-border-radius: 0 !important;
  --tab-border-radius: 0 !important;
  --tab-block-margin: 0 !important;
}

.tab-background {
  border-right: 0px solid rgba(0, 0, 0, 0) !important;
  margin-left: -4px !important;
}

.tabbrowser-tab:is([visuallyselected='true'], [multiselected])
  > .tab-stack
  > .tab-background {
  box-shadow: none !important;
}

.tabbrowser-tab[last-visible-tab='true'] {
  padding-inline-end: 0 !important;
}

#tabs-newtab-button {
  padding-left: 0 !important;
}

/* Url Bar  */
#urlbar-input-container {
  background-color: var(--sfsecondary) !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
}

#urlbar-container {
  margin-left: 0 !important;
}

#urlbar[focused='true'] > #urlbar-background {
  box-shadow: none !important;
}

#navigator-toolbox {
  border: none !important;
}

/* Bookmarks bar  */
.bookmark-item .toolbarbutton-icon {
  display: none;
}
toolbarbutton.bookmark-item:not(.subviewbutton) {
  min-width: 1.6em;
}

/* Toolbar  */
#tracking-protection-icon-container,
#urlbar-zoom-button,
#star-button-box,
#pageActionButton,
#pageActionSeparator,
#tabs-newtab-button,
#back-button,
#PanelUI-button,
#forward-button,
.tab-secondary-label {
  display: none !important;
}

.urlbarView-url {
  color: #dedede !important;
}

/* Disable elements  */
#context-navigation,
#context-savepage,
#context-pocket,
#context-sendpagetodevice,
#context-selectall,
#context-viewsource,
#context-inspect-a11y,
#context-sendlinktodevice,
#context-openlinkinusercontext-menu,
#context-bookmarklink,
#context-savelink,
#context-savelinktopocket,
#context-sendlinktodevice,
#context-searchselect,
#context-sendimage,
#context-print-selection {
  display: none !important;
}

#context_bookmarkTab,
#context_moveTabOptions,
#context_sendTabToDevice,
#context_reopenInContainer,
#context_selectAllTabs,
#context_closeTabOptions {
  display: none !important;
}
