/**
 * FIREFOX CUSTOMIZATION
 *
 * Disables rounded corners, moves container indicator to bottom, and slightly increases the font
 * weight of tab text.
 **/

/* Disable tab corner radius */

#tabbrowser-tabs {
  --user-tab-rounding: 0px;
}

.tab-background {
  border-radius: var(--user-tab-rounding) !important;
}

/* Use solid background for selected tab */

.tab-text[selected="true"] {
  color: var(--lwt-accent-color) !important;
}

.tab-background[selected="true"] {
  background: var(--lwt-tab-line-color, var(--lwt-tabs-border-color, currentColor)) !important;
}

.close-icon[selected="true"] {
  fill: var(--lwt-accent-color) !important;
}

/* Move container color bar to bottom of tab */

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  margin-top: calc(var(--tab-min-height) - 2px) !important;
}

/* Medium font weight for tabs */

.tabbrowser-tab {
  font-weight: 500 !important;
}

